@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont
    {
        padding: 0 20px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination,
    .pagination.min_margin
    {
        margin-top: 30px;
    }


    .pagination a,
    .pagination .sep
    {
        line-height: 33px;

        width: 35px;
        height: 35px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        padding: 15px 39px 15px 11px;
    }


    .accordion_item .head .title
    {
        font-size: 18px;
        line-height: 21px;
    }


    .accordion_item .head .icon
    {
        right: 11px;

        width: 16px;
        height: 16px;
    }

    .accordion_item .head .icon svg
    {
        width: 16px;
        height: 16px;
    }


    .accordion_item .data
    {
        margin-top: -4px;
        padding: 0 11px 15px;
    }



    /*------------
        Header
    ------------*/
    header .cont
    {
        padding-top: 16px;
        padding-bottom: 16px;
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/
    .page_title
    {
        font-size: 35px;
        line-height: calc(100% + 6px);
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .title br
    {
        display: none;
    }


    .block_head .title.border
    {
        font-size: 30px;
    }



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 15px;
        line-height: 21px;
    }


    .text_block h2
    {
        font-size: 24px;
    }

    .text_block h3
    {
        font-size: 19px;
        line-height: 23px;
    }

    .text_block h4
    {
        font-size: 17px;
        line-height: 21px;

        margin-bottom: 16px;
    }

    .text_block h4.point:before
    {
        top: 8px;
    }


    .text_block ul li:before
    {
        top: 7px;
    }


    .text_block figure .grid
    {
        grid-gap: 12px;
    }

    .text_block figure .grid .image
    {
        height: 140px;
    }

    .text_block figure .grid .image.big_h
    {
        height: 292px;
    }


    .text_block .info_block .gallery
    {
        width: calc(100% + 12px);
        margin-bottom: -12px;
        margin-left: -12px;
    }

    .text_block .info_block .gallery .image
    {
        width: calc(33.333% - 12px);
        height: 72px;
        margin-bottom: 12px;
        margin-left: 12px;
    }


    .text_block blockquote
    {
        font-size: 18px;
        line-height: 26px;
    }


    .text_block .fancy_gallery .row > *
    {
        width: calc(25% - 12px);
    }


    .text_block .widgets .row
    {
        margin-bottom: -40px;
        margin-left: 0;
    }

    .text_block .widgets .row > *
    {
        width: 100%;
        margin-bottom: 40px;
        margin-left: 0;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .slide .title
    {
        font-size: 30px;
        line-height: 130%;
    }



    /*----------------
        Activities
    ----------------*/
    .activities .row
    {
        margin-left: 0;
    }

    .activities .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*------------
        Why we
    ------------*/
    .why_we .data .row
    {
        margin-left: 0;
    }

    .why_we .data .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*-----------------
        Stats block
    -----------------*/
    .stats_block .item .val
    {
        font-size: 30px;
    }

    .stats_block .item .desc
    {
        font-size: 14px;
    }

    .stats_block .item .desc br
    {
        display: none;
    }



    /*----------------------
        Info block image
    ----------------------*/
    .info_blocks_image .item
    {
        padding: 14px 0 14px 14px;
    }

    .info_blocks_image .item + .item
    {
        margin-top: 28px;
    }


    .info_blocks_image .title
    {
        font-size: 25px;
        line-height: 29px;
    }


    .info_blocks_image .link
    {
        font-size: 14px;

        padding: 11px 19px;
    }



    /*-----------------------
        Info blocks color
    -----------------------*/
    .info_blocks_color .row + .row
    {
        margin-top: 30px;
    }


    .info_blocks_color .col_left,
    .info_blocks_color .row:nth-child(2n) .col_left
    {
        width: calc(100% + 20px);
        margin: 30px -20px 30px 0;
        padding: 19px;
    }

    .info_blocks_color .col_left:before
    {
        top: -31px;

        height: calc(100% + 62px);
    }


    .info_blocks_color .col_right,
    .info_blocks_color .row:nth-child(2n) .col_right
    {
        margin-top: 30px;
        margin-left: -20px;
        padding: 19px;
    }


    .info_blocks_color .title
    {
        font-size: 25px;
        line-height: 29px;
    }



    /*----------------------------
        Business greening form
    ----------------------------*/
    .business_greening_form .data
    {
        width: calc(100% + 20px);
        margin-right: -20px;
        padding-right: 20px;
    }


    .business_greening_form .title
    {
        font-size: 25px;
        line-height: 29px;
    }


    .business_greening_form .form
    {
        width: calc(100% + 20px);
        max-width: calc(100% + 20px);
        margin-right: -20px;
        padding-right: 20px;
    }

    .business_greening_form .form:after
    {
        width: calc(100% - 240px);
    }



    /*----------
        Blog
    ----------*/
    .blog .banner .title
    {
        font-size: 24px;

        width: calc(100% + 136px);
        margin-right: -68px;
        margin-left: -68px;
        padding: 0 80px;
    }



    .blog .article .name,
    .blog .article.min_w .name,
    .blog .article.middle_w .name
    {
        font-size: 24px;
    }



    /*---------------------
        Subscribe block
    ---------------------*/
    .subscribe_block .block_head .title
    {
        width: 200px;
    }


    .subscribe_block .image
    {
        margin-top: 124px;
    }



    /*----------------
        On youtube
    ----------------*/
    .on_youtube iframe
    {
        height: 180px;
    }



    /*-----------------
        List cities
    -----------------*/
    .list_cities .row
    {
        padding-left: 0;
    }

    .list_cities .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*-------------
        History
    -------------*/
    .history .accordion_item .head
    {
        padding: 0 52px 0 0;
    }


    .history .accordion_item .head .title
    {
        font-size: 26px;
    }


    .history .accordion_item .head .icon
    {
        width: 24px;
        height: 24px;
    }



    /*---------
        FAQ
    ---------*/
    .faq .block_title
    {
        font-size: 28px;
        line-height: 33px;
    }



    /*-------------------------
        Eco center contacts
    -------------------------*/
    .eco_center_contacts .data
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
        padding: 20px;
    }


    .eco_center_contacts .info
    {
        padding: 19px;
    }


    .eco_center_contacts .name
    {
        font-size: 16px;
        line-height: 22px;

        margin-bottom: 10px;
    }

    .eco_center_contacts .val
    {
        font-size: 14px;
        line-height: 18px;
    }


    .eco_center .how_to_get .name:before
    {
        top: 7px;
    }


    .eco_center .location,
    .eco_center .time,
    .eco_center .phone,
    .eco_center .post,
    .eco_center .requisites
    {
        font-size: 15px;
        line-height: 21px;

        padding-left: 32px;
    }


    .eco_center .emails
    {
        font-size: 15px;
        line-height: 21px;
    }



    .eco_center .reference
    {
        font-size: 24px;
        line-height: 28px;
    }



    /*---------------------
        Eco center text
    ---------------------*/
    .eco_center_text .data
    {
        font-size: 14px;
        line-height: 18px;
    }



    /*---------------
        Join text
    ---------------*/
    .join_text .data
    {
        font-size: 14px;
        line-height: 18px;
    }



    /*-----------------
        Conventions
    -----------------*/
    .сonventions .item
    {
        font-size: 14px;
        line-height: 18px;
    }

    .сonventions .item br
    {
        display: none;
    }



    /*------------------
        Encyclopedia
    ------------------*/
    .encyclopedia .sort
    {
        width: 100%;
        margin-top: 12px;
    }

    .encyclopedia .sort .nice-select .list
    {
        right: auto;
        left: 0;
    }


    .encyclopedia .item .thumb
    {
        height: 100px;
    }

    .encyclopedia .item .name
    {
        font-size: 14px;
        line-height: 18px;

        margin-top: 12px;
    }



    /*----------------------
        Become valanteur
    ----------------------*/
    .become_valanteur .you_can_help .text_block li:before
    {
        top: 7px;
    }



    /*--------------------
        Contacts block
    --------------------*/
    .contacts_block .text_block
    {
        font-size: 16px;
        line-height: 24px;
    }



    /*---------------------
        Selected object
    ---------------------*/
    .selected_object .events .block_title
    {
        font-size: 24px;

        margin-bottom: 20px;
        padding-left: 40px;
    }

    .selected_object .events .block_title .icon
    {
        width: 28px;
        height: 28px;
    }



    /*-----------------
        Info blocks
    -----------------*/
    .info_blocks .title
    {
        font-size: 24px;

        margin-bottom: 20px;
    }



    /*----------------
        Anim title
    ----------------*/
    .anim_title
    {
        font-size: 40px;
        line-height: 60px;
    }



    /*------------
        Cities
    ------------*/
    .cities .btn .icon
    {
        width: 18px;
        height: 26px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .article .name
    {
        font-size: 24px;
        line-height: 28px;
    }


    .articles .article.big .name
    {
        font-size: 24px;
        line-height: 28px;

        padding: 32px;
    }

    .articles .article.big .date
    {
        top: 8px;
        left: 58px;
    }

    .articles .article.big .lines
    {
        width: calc(100% - 32px);
        height: calc(100% - 32px);
    }



    /*-----------------
        Add comment
    -----------------*/
    .add_comment .avatar
    {
        display: none;
    }

    .add_comment .form
    {
        width: 100%;
    }



    /*--------------
        Comments
    --------------*/
    .comments .comment .avatar
    {
        width: 40px;
        height: 40px;
    }

    .comments .comment .avatar + *
    {
        width: calc(100% - 56px);
    }


    .comments .comment .author
    {
        font-size: 19px;
        line-height: 23px;
    }



    /*-----------------
        Donate info
    -----------------*/
    .donate_info .tabs button
    {
        font-size: 15px;
        line-height: 23px;

        padding: 11px 19px;
    }


    .donate_info .sum .title
    {
        font-size: 24px;
    }



    /*------------
        Footer
    ------------*/
    footer .subscribe .title
    {
        font-size: 21px;
        line-height: 25px;
    }


    footer .subscribe form .input
    {
        width: 100%;
        max-width: 100%;
    }

    footer .subscribe form .submit_btn
    {
        width: 100%;
        margin-top: 12px;
        margin-left: 0;
    }


    footer .contacts
    {
        margin-bottom: -24px;
    }

    footer .contacts > *
    {
        margin-bottom: 24px;

        order: 2;
    }

    footer .contacts > *.mob_big_w
    {
        width: calc(100% - 12px);

        order: 1;
    }



    /*-----------
        PopUp
    -----------*/
}
